.DS_Store
xcuserdata/
DerivedData/
build/
.build/
*.hmap
*.ipa
*.dSYM
*.dSYM.zip
timeline.xctimeline
playground.xcworkspace
Carthage/Build/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
